h1 {
  text-align: center;
  color: rgb(239, 102, 167);
  margin: 30px 50px;
  opacity: 0.8;
  padding: 45px;
  font-family: "Montserrat";
}
body {
  margin: 0;
  padding: 0;
  background-image: url("https://cdn.discordapp.com/attachments/484899683458744321/780414133677588511/IMG_7399.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.tekst {
  text-align: left;
  background-color: rgb(44, 44, 44, 0.7);
  font-family: "Montserrat";
  color: white;
  margin: auto;
  width: 75%;
  padding: 1%;
}
#kix {
  width: auto;
  height: 545px;
  padding-right: 1%;
}
