h1 {
    padding: 150px 30px 30px 30px;
    font-size: 70px;
    font-family: 'Montserrat';
    color: rgb(239, 102, 167);
}
.record {
    font-weight: bold;
    font-size: 45px;
    font-family: 'Montserrat';
    font-size: 30px;
    padding: 15px 15px 40px 15px;
    color: white;
}
.saldo {
    background-color: rgba(44, 44, 44, 0.5);
    width: 70%;
    margin: auto;
    text-align: center;
}
.tabel {
    margin: auto;
    background-color: rgba(44, 44, 44, 0.8);
    font-family: 'Montserrat';
    width: 50%;
    text-align: center;
    border-collapse: collapse;
  }
.tabel td, .tabel th {
    border: 2px solid black;
    padding: 10px 10px;
  }
.tabel tbody td {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
  }
.tabel tr:nth-child(even) {
    background: rgba(75, 75, 75, 0.7);
  }
.tabel thead {
    background: rgba(75, 75, 75, 0.7);
  }
.tabel thead th {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    border-left: 2px solid #000000;
  }
.väravad, .mängud {
    cursor: pointer;
}