html,body {
    margin: 0;
}
body {
    text-align: center;
    background-image: url('https://cdn.discordapp.com/attachments/484899683458744321/780414133677588511/IMG_7399.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
.menüü {
    display: flex;
    position: relative;
    text-align: center;
}
.navbar {
    padding-right: 0px;
    overflow: hidden;
    margin: 0;
    background-color: rgba(44, 44, 44, 0.5);
    float: left;
    width: 50%;
}
.navbar2 {
    padding-left: 0px;
    overflow: hidden;
    background-color: rgba(44, 44, 44, 0.5);
    margin: 0;
    float: right;
    width: 47.9%;
    height: 69px;
}
.navbar li {
    display: inline;
    float: left;
    height: 69px;
}
  .navbar2 li {
    display: inline;
    float: right;
}
.navbar li a {
    font-family: 'Montserrat';
    float: left;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    transition: 1s; 
}
.navbar li a:hover, .navbar2 li a:hover {
    background-color: rgb(100, 100, 100);
}
.navbar2 li a {
    font-family: 'Montserrat';
    float: right;
    color: white;
    text-align: center;
    padding: 20px;
    transition: 1s;
}
h1, h2, h3 {
    padding-top: 150px;
    padding-bottom: 60px;
    font-size: 70px;
    font-family: 'Montserrat';
    color: rgb(239, 102, 167);
}
.kirjeldus {
    text-align: center;
    margin: auto;
    width: 75%;
    padding: 100px;
    color: white;
    background-color: rgba(44, 44, 44, 0.85);
    font-family: 'Montserrat';
    font-size: 30px;
}
.mapouter{
    padding-top: 150px;
    position:relative;
    text-align:right;
    height:500px;
    width:100%;
}
.gmap_canvas {
    background:none!important;
    height:500px;
    width:100%;
}
.toetajad {
    background-color: rgba(44, 44, 44, 0.85);
    padding: 100px;
    width: 75%;
    margin: auto;
    display: flex;
    margin: auto;
    justify-content: center;
}
.toetajad a {
    text-align: center;
    padding: 20px;
    text-decoration: none;
    transition: 1s;
}
.toetajad a:hover {
    transform: scale(1.1);
}
.saavutused {
    text-align: center;
    margin: auto;
    width: 60%;
    padding: 100px;
    color: white;
    background-color: rgba(44, 44, 44, 0.85);
    font-family: 'Montserrat';
    font-size: 30px;
}