html,body {
    margin: 0;
}
body {
    text-align: center;
    background-image: url('https://cdn.discordapp.com/attachments/484899683458744321/780414133677588511/IMG_7399.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
.menüü {
    display: flex;
    position: relative;
    text-align: center;
}
.navbar {
    padding-right: 0px;
    overflow: hidden;
    margin: 0;
    background-color: rgba(44, 44, 44, 0.5);
    float: left;
    width: 50%;
}
.navbar2 {
    padding-left: 0px;
    overflow: hidden;
    background-color: rgba(44, 44, 44, 0.5);
    margin: 0;
    float: right;
    width: 47.9%;
    height: 69px;
}
.navbar li {
    display: inline;
    float: left;
    height: 69px;
}
  .navbar2 li {
    display: inline;
    float: right;
}
.navbar li a {
    font-family: 'Montserrat';
    float: left;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    transition: 500ms; 
}
.navbar li a:hover, .navbar2 li a:hover {
    background-color: rgb(100, 100, 100);
}
.navbar2 li a {
    font-family: 'Montserrat';
    float: right;
    color: white;
    text-align: center;
    padding: 20px;
    transition: 500ms;
}
h1 {
    padding-top: 150px;
    padding-bottom: 60px;
    font-size: 70px;
    font-family: 'Montserrat';
    color: rgb(239, 102, 167);
    text-align: center;
    margin: auto;
}
.pildid {
    list-style-type: none;
    margin: 0;
    text-align: center;
}
img {
    transition: 500ms;
}
.pildid li {
    display: inline-block;
    position: relative;
    padding: 10px;
}
.tekst {
    background: rgba(0,0,0,0.5);
    color: white;
    display: table;
    width: 95.2%;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    transition: opacity 500ms;
} 
.tekst span {
    padding-top: 10px;
    display: grid;
    vertical-align: middle;
    font-family: 'Montserrat';
}
.nimi {
    font-weight: bold;
}
.pildid li:hover .tekst {
    opacity: 1;
}
.pildid li:hover img {
    filter: grayscale(100%);
}